<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--  <properties resource="prop.properties">-->
  <properties url="file:///D:/IdeaProjects/repos-practice/maven-java/src/main/resources\prop.properties">
<!--    <property name="driver" value="com.mysql.jdbc.Driver"/>-->
<!--    <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>-->
<!--    <property name="username" value="root"/>-->
<!--    <property name="password" value="0510"/>-->
  </properties>
  <settings>
    <setting name="lazyLoadingEnabled" value="true"/>
  </settings>
  <typeAliases>
    <!-- 单个别名定义 -->
    <typeAlias type="com.itheima.mybatis.dto.UserDto" alias="user"/>
    <!-- 批量别名定义，扫描整个包下的类，别名为类名（首字母大写或小写都可以） -->
    <package name="com.itheima.mybatis.dto"/>
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="UNPOOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <!-- 注解mapper要放到前面 -->
    <mapper class="com.itheima.mybatis.dao.UserMapper"/>
    <mapper class="com.itheima.mybatis.dao.UserMapperAnno"/>
    <mapper class="com.itheima.mybatis.dao.AccountMapperAnno"/>
    <mapper resource="com/itheima/mybatis/dao/UserMapper.xml"/>
    <mapper resource="com/itheima/mybatis/dao/AccountMapper.xml"/>
    <mapper resource="com/itheima/mybatis/dao/RoleMapper.xml"/>
  </mappers>
</configuration>